<%= form_for(@college) do |f| %>
  <% if @college.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@college.errors.count, "error") %> prohibited this college from being saved:</h2>

      <ul>
      <% @college.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Country %><br>
    <%= f.text_field :Country %>
  </div>
  <div class="field">
    <%= f.label :SATMinScore %><br>
    <%= f.text_field :SATMinScore %>
  </div>
  <div class="field">
    <%= f.label :SATMaxScore %><br>
    <%= f.text_field :SATMaxScore %>
  </div>
  <div class="field">
    <%= f.label :TuitionFees %><br>
    <%= f.text_field :TuitionFees %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
